@import "everblush.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Miracode, Symbols Nerd Font Mono;
    font-size: 14px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    min-width: 8px;
    min-height: 0px;
    box-shadow: none;
    text-shadow: none;
}

window#waybar.left {
    background-color: @background;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#custom-separator,
#custom-updates,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#taskbar,
#temperature,
#custom-weather,
#custom-distro-icon,
#custom-pacman,
#mpd {
    padding: 5px;
    color: @text;
    /*margin: 2px 2px 2px 2px;*/
    margin: 5px;
    background-color: @lighter;
    border-radius: 5px;
    border: 0px;
    /*margin-top: 6px;
    margin-bottom: 6px;*/
    background-clip: padding-box;
}


#tray,
#custom-weather,
#battery,
#custom-updates,
#idle_inhibitor,
#cpu,
#custom-separator,
#memory,
#network,
#temperature,
#clock {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px;
}

#idle_inhibitor {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


#tray,
#cpu,
#memory,
#custom-separator,
#temperature,
#network,
#battery {
  border-radius: 0px;
}

tooltip {
  background-color: @background;
  color: @green;
}

#clock {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 5px;
}

#custom-distro-icon {
  font-size: 21px;
  color: @blue;
}


#custom-separator {
  font-size: 14px;
  padding: 0px;
/*  padding-top: 2px;
  padding-bottom: 2px ; */
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/*#workspaces {
    border-radius: 5px;
    margin-left: 10px;
	margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
#workspaces button {
    color: @green;
}

#workspaces button.active {
    background-color: @green;
    color: @mantle;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: @green;
	color: @mantle;
	border-radius: 5px;
}*/

#workspaces {
  padding: 0px;
}
  

#workspaces button {
  color: @text;
  padding: 4px;
}

#workspaces button.focused {
  background-color: @cyan;
  color: @background;
  border: 0px;
  padding: 4px;
  border-radius: 5px;
}

#taskbar button.active {
   border-bottom: 3px solid @green;
   padding: 6px 6px;
}

#taskbar button {
  border-bottom: 3px solid @surface0;
}
